<section class="marcoProf">
    <div>
        <p class="index">Profesional: {{ index + 1}}</p><br>
        <p>Nombre: {{ profesional.first_name }}</p>
        <p>Apellidos: {{ profesional.last_name }}</p>
        <p>Edad: {{ profesional.age }}</p>
        <p>Peso: {{ profesional.weight }}</p>
        <p>Altura: {{ profesional.height }}</p>
        <p>Retirado: {{ profesional.isRetired }}</p>
        <p>Nacionalidad: {{ profesional.nationality }}</p>
        <p>Num oscars: {{ profesional.oscarNumber }}</p>
        <p>Profesion: {{ profesional.profession }}</p>
    </div>
</section>